

.header{
    text-align: center;
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    margin: 90px 600px 0 600px;
}


.chef{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px; 
    height: auto;
    margin-top: 10px;
}

.custom-shape-divider-top-1673284764 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1673284764 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 189px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1673284764 .shape-fill {
    fill: #B8E986;
}


.rowflex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    
    
  }

  .columnhome1{
    margin-top: 30px;
    border-radius: 20%;
   
}





.imgtext{
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: rgb(85, 172, 248);
    border-radius: 10%;
    border-style: solid;
    cursor: pointer;
    
}

a { text-decoration: none; color:black}

